{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card p-4 shadow-lg">
        <h1 class="text-center mb-4">Gestion des utilisateurs</h1>

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for message in app.session.flashBag.get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('warning') %}
            <div class="alert alert-warning">
                {% for message in app.session.flashBag.get('warning') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('danger') %}
            <div class="alert alert-danger">
                {% for message in app.session.flashBag.get('danger') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="d-flex justify-content-center">
          <a href="{{path('app_user_new')}}" class="btn btn-primary ">Ajouter un utilisateur</a>
        </div>

        <div class="table-responsive mt-4">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>E-mail</th>
                        <th>Role</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        {% if user.roles[0] == 'ROLE_USER' %}
                            <td>Utilisateur standard</td>
                        {% elseif user.roles[0] == 'ROLE_ADMIN' %}
                            <td>Administrateur</td>
                        {% endif %}
                        <td><a href="{{path('app_user_edit', {'id': user.id})}}" class="btn btn-primary btn-sm">Modifier</a></td>
                        <td>
                            <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmationModal{{ user.id }}">
                                Supprimer
                            </a>
                        </td>
                    </tr>

                    <!-- Modal de confirmation de suppression -->
                    <div class="modal fade" id="confirmationModal{{ user.id }}" tabindex="-1" aria-labelledby="confirmationModalLabel{{ user.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmationModalLabel{{ user.id }}">Confirmation de suppression</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Êtes-vous sûr de vouloir supprimer ce courrier ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}